<!DOCTYPE html>
<html>

  <% include includes/head.ejs %>

  <body>
    <main>
    <% include includes/header.ejs %>
    <br><br>
    <div class="container">
      <% if (site.msg)  { %>
      <div class="row">
        <div class="card-panel green">
          <span class="white-text"><%= site.msg.msg %></span>
        </div>
      </div>
      <% } %>
      <div class="row flex-row">
        <div class="col m5">
          <br><br><br>
          <h2 class="thin">Welcome to <%= site.title %></h2>
          <h5 class="light"><%= site.desc %></h5>
        </div>
        <div class="col m5">
          <!--  Notifications for wrong input in Login form-->
          <% if (site.loginMessage && site.loginMessage.length>0) { %>
            <div class="card-panel red lighten-2">
                    <div class="center"><%= site.loginMessage %> </div>

            </div>
              <% } %>

              <!--  Notifications for wrong input in Signup form-->
              <% if (site.signupMessage && site.signupMessage.length>0) { %>
                <div class="card-panel red lighten-1">
                        <div class="center"><%= site.signupMessage %></div>
                </div>
                  <% } %>


                  <% if (site.verify && site.verify.length>0) { %>
                    <div class="card-panel blue lighten-1">
                            <center><%= site.verify %> <a href="/verify" class="bold">CLICK HERE</a> </center>
                    </div>
                      <% } %>
              <!--  Notifications for wrong input in Login form-->
              <% if (site.message && site.message.length>0) { %>
                <div class="card-panel green lighten-1">
                      <div class="center"><%= site.message %></div>
                  </div>
              <% } %>


          <div class="card">
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#login">LOGIN</a></li>
                <li class="tab"><a href="#signup">SIGN UP</a></li>
              </ul>
            </div>
            <div class="card-content deep-blue fixed-height-card-content">

              <form action="/login" method="post">
              <div id="login">

                <div class="row">

                  <div class="input-field col s12">
                    <input id="username" type="text" placeholder="Email"
                           class="validate" name="username">
                  </div>

                  <div class="input-field col s12">
                    <input id="password" type="password" placeholder="Password"
                           class="validate" name="password">
                  </div>

                  <div class="center col s12">
                    <br><br>
                    <button class="waves-effect waves-light btn" type="submit">LOGIN</button>
                  </div>

                </div>
              </div>
            </form>
              <form action="/signup" method="post">
              <div id="signup">
                <div class="row">

                <!-- Name added  -->
                <div class="input-field col s12">
                  <input id="name" type="text" placeholder="Full Name"
                         class="validate" name="name">
                </div>

                <!-- Email  -->
                  <div class="input-field col s12">
                    <input id="email" type="email" placeholder="Email ID"
                           class="validate" name="email">
                  </div>

                  <div class="input-field col s6">
                    <input id="choose_password" type="password" placeholder="Choose a Password"
                           class="validate" name="password">
                  </div>

                  <div class="input-field col s6">
                    <input id="confirm_password" type="password" placeholder="Confirm Password"
                           class="validate" name="confirm_password">
                  </div>

                  <div class="center col s12">
                    <br><br>
                    <button class="btn waves-effect waves-light" type="submit">Sign Up
                    </button>
                  </div>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
    <br><br>
    <% include includes/footer.ejs %>

  </body>
</html>
<style>
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: #39417b;
    border: none;
    border-bottom: 0;
    text-indent: 1em;
  }

  input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 0;
    box-shadow: none;
  }

  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    color: white;
  }
</style>
